.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
pid.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# compiled output
/src/main/resources/static/
/tmp

# dependencies
/node_modules

# IDEs and editors
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
/bin/