<div class="container">
  <div *ngIf="user">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>{{user.username}}</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Email : {{user.email}}</li>
            <li class="list-group-item">First name : <input type="text" class="form-control input-md" [(ngModel)]="user.firstName" required/></li>
            <li class="list-group-item">Last name : <input type="text" class="form-control input-md" [(ngModel)]="user.lastName" required/></li>
            <li class="list-group-item">Roles : {{user.roles}}</li>
            <li class="list-group-item">Password : <input type="password" class="form-control input-md" [(ngModel)]="password"/></li>
            <li class="list-group-item">Repeat Password : <input type="password" class="form-control input-md" [(ngModel)]="repeatPassword"/></li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="save(user, password, repeatPassword)" class="btn btn-default">Save</button>
    <button (click)="back()" class="btn btn-default">Back</button>
  </div>
</div>
