<div class="row" *ngIf="telephones.length > 0">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Phone numbers</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let phone of telephones">
          <button class="btn btn-default" (click)="delete(phone);"><span class="glyphicon glyphicon-remove"></span>
          </button>
          <button class="btn btn-default" (click)="goto(phone)"><span class="glyphicon glyphicon-edit"></span></button>
          {{phone.number}}, {{phone.type}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend>Add telephone</legend>

      <div class="form-group">
        <label class="col-md-4 control-label pull-left" for="number">Number</label>
        <div class="col-md-4 pull-left">
          <input id="number" name="number" type="text" placeholder="Number" class="form-control input-md" required="true" #number/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label pull-left" for="type">Type</label>
        <div class="col-md-4 pull-left">
          <input id="type" name="type" type="text" placeholder="Type" class="form-control input-md" required="true"
                 #type/>
        </div>
      </div>
    </fieldset>
  </form>
  <button class="btn btn-primary"
          (click)="add(number.value, type.value); number.value=''; type.value='';">
    Add
  </button>
</div>
